<head>
  <title>Shayne's Sample App</title>
</head>

<body>
  <div class="container">
    <h3>Dynamic Form Creation & Validation</h3>
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#formTab">Sample Form</a></li>
        <li class="tab col s3"><a href="#jsonTab">JSON Backing</a></li>
      </ul>
    </div>

    {{> DemoForm}}
    {{> Source}}

    {{> successModal}}
  </div>
</body>

<template name="DemoForm">
  <div id="formTab" class="col s12">
    <form class="DemoForm">
      {{#each formInputs}}
        <div class="form-row row">
          <div class="input-field col s12">
            <label for="{{name}}">{{formLabel name}}</label>
            <input type="{{type}}" name="{{name}}" class="{{isValid name}}" />
            {{#each error in errors name}}
              <div class="form-error">{{error}}</div>
            {{/each}}
          </div>
        </div>
      {{/each}}
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </form>
  </div>
</template>

<template name="Source">
  <div id="jsonTab" class="col s12 center">
    <img src="json.png"/>
  </div>
</template>

<template name="successModal">
  <div id="successModal" class="modal">
    <div class="modal-content">
      <p>Added!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
</template>